<!DOCTYPE HTML>
<html lang="en">
    <title>Face segmentation</title>
        <center>
            <h1>Face segmentation</h1>
            <body>
                <!-- <img src="static/services/images/Seg_example.jpg" title="Segmentation example"> -->
                <img src="{{ url_for('static', filename='images/Seg_example.jpg') }}">
            </body>
        </center>
        <h2>Context and explanations</h2>
        <p>
            <b class="term">This demonstration serves as a proof of concept for Eye Segmentation. It aims to showcase the outcomes of my choices and their ability to generalize.</b><br />
            <br />
            <b class="term">The model was trained on the <a href="https://www.kaggle.com/datasets/jessicali9530/celeba-dataset">CelebFaces</a> Kaggle's dataset and achieved 89,5% <a href="https://fr.wikipedia.org/wiki/Indice_de_S%C3%B8rensen-Dice">Dice Score</a> on the test set</b>.<br />
            In order to train the model, I created a train set of 800 images and a validation set of 200 images. I also created a test set of 1000 images to evaluate the model's performance.<br />
            Next, <b class="term">I used <a href="https://pypi.org/project/mediapipe/">Mediapipe</a> to approximate eye positions by applying mesh on the faces. This enabled me to create masks for the pictures used in the training and testing processes</b>.<br />
            <b class="term">To ensure a robust learning strategy for the model, I implemented a <a href="https://fr.wikipedia.org/wiki/Indice_de_S%C3%B8rensen-Dice">Dice Score</a> loss. This approach effectively counters poor strategies, such as predicting only white pixels, by focusing solely on the segmented pixels of the image for the learning process</b>.<br />
            <b class="term">Applying this loss function to higher quality datasets could enable the model to achieve even better results</b>.<br />
            <br />
            <b class="term">Although the test set results are excellent, we could improve generalization by utilizing a dataset with more diversity. I recommend using a dataset that includes various types of face pictures, rather than just close-up shots</b>.<br />
            This could significantly improve the generalization of the model on different face inputs. The current model doesn't generalize well to different types of face pictures because of the <a href="https://www.kaggle.com/datasets/jessicali9530/celeba-dataset">CelebFaces</a> dataset's limitations.<br />
            <b class="term"></b>Furthermore, applying this loss function to higher quality datasets could enable the model to achieve even better results</b>.<br />
        </p>

        <!-- <h2>Explanations</h2>
        <p>
            <b class="term">This demonstration aims to showcase the results of the choices I made on the <a href="https://www.kaggle.com/datasets/jessicali9530/celeba-dataset">CelebFaces</a> Kaggle's dataset and their generalization capabilities</b>.<br />
            <br />
            <b class="term">To ensure a robust learning strategy for the model, I implemented a <a href="https://fr.wikipedia.org/wiki/Indice_de_S%C3%B8rensen-Dice">Dice Score</a> loss. This approach effectively counters poor strategies, such as predicting only white pixels, by focusing solely on the segmented pixels of the image for the learning process</b>.<br />
            <b class="term">Applying this loss function to higher quality datasets could enable the model to achieve even better results</b>.<br />
            <br />
        </p> -->
        <h2>Upload a Face picture</h2>
        <p>
            If you wish to test the model, feel free to upload a picture zoomed on the face, otherwise the model won't be able to predict the position of the eyes.<br />
            <b class="term">Rest assured, I do not save any uploaded picture to the server</b>. I use a base64 manipulation to display the image without saving it.
        </p>
        <form method=post enctype=multipart/form-data>
            <input type=file name=file>
            <input type=submit value=Upload>
        </form>

        <body>
            <!-- <center> -->
            <img src="data:image/jpg;base64,{{ origin_image_data }}" onerror="this.style.display='none'">
            <img src="data:image/jpg;base64,{{ mask_data }}" onerror="this.style.display='none'">
            <img src="data:image/jpg;base64,{{ masked_image_data }}" onerror="this.style.display='none'">
            <!-- </center> -->
        </body>
</html>