<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- <link rel="stylesheet" href="css/style.css"> -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}" />
    </head>

    <section class="bg">
        <!-- <body>
            <main> -->
        <h1 class="title">Eye Segmentation Web app</h1>
        <!-- <p>
            You can navigate the project through the following categories :
        </p> -->
        <!-- <nav class="menu">
            <ul>
            <li><a  href="{{ url_for('demonstration')}}" class="right">Demonstration</a></li>
            <li><a  href="{{ url_for('technical_explanation')}}" class="right">Technical Explanations</a></li>
            </ul>
        </nav> -->
        <a href="{{ url_for('demonstration')}}">
            <div class="blog-card">
                <img class="blog-img" src="{{ url_for('static', filename='images/eye_seg_icon.jpg') }}" />
                <div class="text-overlay">
                    <h2>Demonstration</h2>
                    <p>Quick demonstration of the model results...</p>
                </div>
            </div>
        </a>
        <a href="{{ url_for('technical_explanation')}}">
            <div class="blog-card">
                <div class="text-overlay">
                    <h2>Technical Explanations</h2>
                    <p>Detailed explanations about the technical part of the project...</p>
                </div>
            </div>
        </a>
            <!-- </main>
        </body> -->
    </section>
</html>