<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="utf-8">
    </head>

    <body>
        <main>
            <h1>Welcome to my Eye Segmentation Web app</h1>
            <p>
                You can navigate the project through the following categories :
            </p>
            <nav class="menu">
                <ul>
                  <li><a  href="{{ url_for('demonstration')}}" class="right">Demonstation</a></li>
                  <li><a  href="{{ url_for('technical_explanation')}}" class="right">Technical Explanations</a></li>
                </ul>
            </nav>
        </main>
    </body>

    <!-- <a id ="img_nav" href="{{ url_for('home')}}"><img src = "{{ url_for('static', filename= 'images/UVM_LOGO.jpg') }}" alt="UVM logo" class = "left"></a> -->
    <!-- <nav id= "nav_grid">
        <section class="nav_section">
          <a  href="{{ url_for('demonstration')}}" class="right">Demonstation</a>
          <a  href="{{ url_for('technical_explanation')}}" class="right">Technical Explanations</a>
        </section>
    </nav> -->

</html>